<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', 'https://storage.googleapis.com/code.getmdl.io/1.0.0/material.deep_purple-teal.min.css', 'https://fonts.googleapis.com/icon?family=Material+Icons', 'styles' %>
    <%= javascript_include_tag  "all" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40822088-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  </head>
  
  <body class="<%= page_classes %>">
    <style>
      .layout-transparent {
        background: url('../assets/demos/transparent.jpg') center / cover;
      }
      .layout-transparent .mdl-layout__header,
      .layout-transparent .mdl-layout__drawer-button, .mdl-navigation .mdl-navigation__link {
        /* This background is dark, so we set text to white. Use 87% black instead if
           your background is light. */
        color: #777777;
      }
      .mdl-navigation .mdl-navigation__link {
        font-size: 20px;
      }
    </style>

    <div class="layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Zack Kirchin</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/blog/">Blog</a>
            <a class="mdl-navigation__link" href="https://twitter.com/zkirchin"><i class="fa fa-twitter"></i></a>
            <a class="mdl-navigation__link" href="https://www.linkedin.com/in/zkirchin"><i class="fa fa-linkedin"></i></a>
            <a class="mdl-navigation__link" href="https://plus.google.com/+ZacharyKirchin"><i class="fa fa-google-plus"></i></a>
            <a class="mdl-navigation__link" href="http://instagram.com/zkirchin"><i class="fa fa-instagram"></i></a>
            <a class="mdl-navigation__link" href="https://github.com/zkirchin"><i class="fa fa-github"></i></a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Zack Kirchin</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#about">About</a>
          <a class="mdl-navigation__link" href="#find-me">Find Me</a>
          <a class="mdl-navigation__link" href="#portfolio">Portfolio</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
          <%= yield %>
          <%= partial 'footer' %>
      </main>
    </div>
  </body>
</html>